<br><br>
<form ng-submit="submit()" class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="search" ng-model="type" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div>
  <br>
  
      <table class="table table-bordered table-striped">
        <tr class="table-primary">
          <th>Name</th>
          <th>Details</th>
          <th>Price</th>
          <th>Staus</th>
          <th>Type</th>
          <th>Action</th>
          
        </tr>
        <tr ng-repeat="s in services">
            <td>{{s.name}}</td>
            <td>{{s.details}}</td>
            <td>{{s.price}}</td>
            <td>{{s.status}}</td>
            <td>{{s.type}}</td>
            <td> <a href="#!CustomerHome/ServiceDetails/{{s.id}}" class="btn btn-dark">View Comment</a></td>
        </tr>
      </table>
  </div>