<div ng-include="'views/inc/top_nav.html'"></div>
<div>
    <h2>All Services Information</h2>
     <form  class="form-inline my-2 my-lg-0">
      <h3>Service Search:</h3> <input class="form-control mr-sm-2" type="search" ng-model="type" placeholder="Service Search" aria-label="Search">
    </form> 

      <table class="table table-bordered ">
        <tr class="table-info">
          <th>Name</th>
          <th>Details</th>
          <th>Price</th>
          <th>Staus</th>
          <th>Type</th>
          <th>Action</th>
          
        </tr>
        <tr ng-repeat="s in services|filter:type">
            <td>{{s.name}}</td>
            <td>{{s.details}}</td>
            <td>{{s.price}}</td>
            <td>{{s.status}}</td>
            <td>{{s.type}}</td>
            <td> <a href="#!CustomerService/AddCart/{{s.id}}" class="btn btn-info">Add To Cart</a></td>
        </tr>
      </table>
  </div>