<!-- <a href="#!demo">Demo</a>
<a href="#!demo2">demo2</a>
<a href="#!products">Products</a>
<a href="#!posts">Posts</a> -->

<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Home Appliance</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="#!CustomerHome">Home</a></li>
        <li><a href="#!CustomerHome/AllService">All Services</a></li>
        <li><a href="#!CustomerService/All">Add To Cart</a></li>
        <li><a href="#!CustomerHome/MyOrder">My Order</a></li>
        <li><a href="#!CustomerHome/MyProfile">My Profile</a></li>
        
        </ul>
    </div>
</nav>
  -->
  <nav class="navbar navbar-expand-lg navbar-white bg-dark">
    <a class="navbar-brand" >E-Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#!CustomerHome">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#!CustomerHome/AllService">All Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#!CustomerService/AddToCart">Add To Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="#!CustomerService/Cart"> Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="#!CustomerHome/MyOrder">My Order</a></li>
        <li class="nav-item"><a class="nav-link" href="#!CustomerHome/MyProfile">My Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#!CustomerService/Search">Search</a></li>
        <li class="nav-item"><a class="nav-link" href="#!logout">Logout</a></li>
        
      </ul>
    </div>
  </nav>
