<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
    }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>

<body>
    <div class="login-form">
        <form ng-submit="login()" name="myForm">
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input name="email" type="email" class="form-control me-2" placeholder="Email" ng-model="data.email" required="required">
                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">Email is required.</span>
                    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </div>
            <br />
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password" ng-model="data.password" required="required">
                <span style="color:red" ng-show="myForm.password.$dirty">
                <span ng-show="myForm.password.$error.required">Password is required.</span>
                    
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary btn-block">Log in</button>
            </div>

            <br />
            <div class="clearfix">

                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a href="#" class="pull-right">Forgot Password?</a>
                <span class="pull-right text-danger"></span>
            </div>
          
        </form>
        <p class="text-center"><a href="">Create an Account</a></p>
    </div>
</body>
