<div ng-include="'views/inc/top_nav.html'"></div>
<h3><b>A Complete Overview of Our AC Repair Services</b></h3>
<h4><b>What you expect from us</b></h4>
<ul>
    <li>Expert and Professional Service</li>
    <li>7 days after-sales service warranty</li>
    <li>No hidden cost except the service charge.</li>
</ul>
<h3><b>Our Available AC Services</b></h3>
<ul>
    <li>AC Health Checkup</li>
    <li>AC Basic Servicing.</li>
    <li>AC Repair</li>
</ul>
<h3><b>A Complete Overview of Our Home cleaning Services</b></h3>
<h4><b>What to expect from us?</b></h4>
<ul>
    <li>Expert & Professional Cleaner.</li>
    <li>No hidden charges.</li>
    <li>Satisfaction guaranteed.</li>
</ul>
<h4><b>What Types of Cleaning Services Do We Provide?</b></h4>
<ul>
    <li>Floor Cleaningr.</li>
    <li>Sofa/Chair cleaning.</li>
    <li>Kitchen deep cleaning.</li>
</ul>
<h3><b>Order & Payment</b></h3>
<ol>
    <li>Select your service.</li>
    <li>Book your order.</li>
    <li>Get the service & pay us..</li>
</ol>