<div ng-include="'views/inc/top_nav.html'"></div>
<div>
    <h2 class="text-dark text-center"><i class="fas fa-clipboard-list"></i> Order Details Information</h2>
    <h3 class="text-primary ml-3">Status :<b> {{o.status}}</b></h3>
    <h3 class="text-success ml-3">Delivary Address:<b> {{o.delevery_address}}</b></h3>
    <h3 class="text-info ml-3">Grand Total Charge:<b> {{total}}</b></h3>
    <br />
    

      <table class="table table-bordered">
        <tr class="table-primary">
          <th>Service Name</th>
          <th>Employee Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          
        </tr>
        <tr ng-repeat="order in o.Order_Details">
            <td>{{order.Service.name}}</td>
            <td>{{order.Employee.User.name}}</td>
            <td>{{order.unit_price}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.unit_price*order.quantity}}</td>
        </tr>
      </table>
      
     
  </div>