<div ng-include="'views/inc/top_nav.html'"></div>
<br>
<a href="#!CustomerHome/EditProfile/{{p.id}}" class="btn btn-danger ml-3">Edit Profile</a>
</br></br>

<center>
    <h2>My Profile Information</h2>
    <br>
    <table class="table w-50">
        <tr class="table-primary">
            <th class="text-center">Name</th>
            <td class="text-center">{{p.name}}</td>
        </tr>
        <tr class="table-secondary">
            <th class="text-center">Phone</th>
            <td class="text-center">{{p.phone}}</td>
        </tr>
        <tr class="table-primary">
            <th class="text-center">Email</th>
            <td class="text-center">{{p.email}}</td>
        </tr>

        <tr class="table-secondary">
            <th class="text-center">House</th>
            <td class="text-center">{{p.house}}</td>
        </tr>

        <tr class="table-primary">
            <th class="text-center">Road</th>
            <td class="text-center">{{p.road}}</td>
        </tr>


    </table>
</center>